a {
    color: #222
}
a:hover {
   color: #666
}

li{
    list-style-type: none;
}

#autoResizeTextarea {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; 
    resize: none; 
}


.coverBig{
    max-width: 540px;
}

.coverAverage{
    max-width: 270px;
}

.coverSmall{
    max-width: 135px;
}